/* Styles for the menu container */

aside {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    background-color: #fff;
    opacity: 0.8;
    padding: 20px;
    border-radius: 8px;
    width: 250px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    font-family: 'Roboto', sans-serif;
    z-index: 9999; /* Ensures it's on top of other elements */
}

section {
    margin-bottom: 20px;
}

.main-content {
    background-image: url('../../../assets/image.jpg');
    background-size: cover; 
    height: calc(100vh - 40px); 
}

h2 {
    margin-bottom: 10px;
    font-size: 1.2em;
    color: #333;
}

nav a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #666;
    transition: background-color 0.3s ease;
    border-radius: 4px;
}

nav a:hover {
    color: #fff;
    background-color: #42545C;
}

nav a:active {
    background-color: #000;
}

/* Animation for links */
nav a {
    transform: translateY(-10px);
    opacity: 0;
    animation: fadeInUp 0.5s ease forwards;
    animation-delay: calc(var(--index) * 0.1s);
}

@keyframes fadeInUp {
    from {
        transform: translateY(10px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}
