<head>
  <link rel="stylesheet" href="update-building.component.css">
</head>

<div class="edit-building">
  <div class="edit-form">
      <div class="form-row">
          <label for="selectedBuildingId">Select Building:</label>
          <select [(ngModel)]="selectedBuildingId" id="selectedBuildingId"(change)="displayPreviousInfo()">
              <option *ngFor="let building of buildings" [ngValue]="building._id">{{ building.name }}</option>
          </select>
      </div>
      <div class="form-row">
          <label for="name">Building Name:</label>
          <input type="text" [(ngModel)]="buildingData.name" name="name" id="name" placeholder="Building Name" required>
      </div>
      <div class="form-row">
          <label for="localizationoncampus">Localization on Campus:</label>
          <input type="text" [(ngModel)]="buildingData.localizationoncampus" name="localizationoncampus" id="localizationoncampus" placeholder="Localization on Campus" required readonly>
      </div>
      <div class="form-row">
          <label for="floors">Number of Floors:</label>
          <input type="number" [(ngModel)]="buildingData.floors" name="floors" id="floors" placeholder="Number of Floors" required>
      </div>
      <div class="form-row">
          <label for="lifts">Number of Lifts:</label>
          <input type="number" [(ngModel)]="buildingData.lifts" name="lifts" id="lifts" placeholder="Number of Lifts" required>
      </div>
      <label for="length">Length:</label>
      <input type="text" [(ngModel)]="buildingData.maxCel[0]" name="length" id="length" placeholder="Length" required readonly>
  
      <label for="width">Width:</label>
      <input type="text" [(ngModel)]="buildingData.maxCel[1]" name="width" id="width" placeholder="Width" required readonly>
      <div class="button-row">
          <button (click)="updateBuilding()">Update</button>
          <button routerLink="/main-menu">Back</button>
      </div>
  </div>
</div>
<!-- Display error message -->
<div *ngIf="errorMessage" class="error-message">
    {{ errorMessage }}
  </div>
  
  <!-- Display success message -->
  <div *ngIf="successMessage" class="success-message">
    {{ successMessage }}
  </div>
  
  