<head>
  <link rel="stylesheet" href="single-file-upload.component.css">
</head>

<input type="file" class="file-input" (change)="onChange($event)" #fileUpload />

<div *ngIf="file" class="file-container">
  <section class="file-info">
      <h3>File details:</h3>
      <ul>
          <li><strong>Name:</strong> {{file.name}}</li>
          <li><strong>Type:</strong> {{file.type}}</li>
          <li><strong>Size:</strong> {{file.size}} bytes</li>
      </ul>
  </section>

  <button *ngIf="status !== 'success'" (click)="onUpload()" class="upload-button">Upload the file</button>

  <section [ngSwitch]="status" class="upload-status">
      <p *ngSwitchCase="'uploading'">⏳ Uploading...</p>
      <p *ngSwitchCase="'success'">✅ Done!</p>
      <p *ngSwitchCase="'fail'">❌ Error!</p>
      <p *ngSwitchDefault>😶 Waiting to upload...</p>
  </section>
</div>
