<head>
    <link rel="stylesheet" href="list-buildings-min-max.component.css">
  </head>
  
  <body>
    <div class="filter-container">
      <label for="minFloor">Minimum Floor:</label>
      <input type="number" id="minFloor" [(ngModel)]="minFloor">
      <label for="maxFloor">Maximum Floor:</label>
      <input type="number" id="maxFloor" [(ngModel)]="maxFloor">
  
      <button (click)="loadBuildings()">Filter Buildings</button>
    </div>
  
    <div class="building-container" *ngFor="let building of buildings">
      <div class="building-info">
        <div class="info-item">
          <span class="label">Name:</span>
          <span class="value">{{ building.name || 'N/A' }}</span>
        </div>
        <div class="info-item">
          <span class="label">Localization on Campus:</span>
          <span class="value">{{ building.localizationoncampus || 'N/A' }}</span>
        </div>
        <div class="info-item">
          <span class="label">Floors:</span>
          <span class="value">{{ building.floors?.toString() || 'N/A' }}</span>
        </div>
        <div class="info-item">
          <span class="label">Lifts:</span>
          <span class="value">{{ building.lifts?.toString() || 'N/A' }}</span>
        </div>
        <div class="info-item">
          <span class="label">Dimensions:</span>
          <span class="value">{{ building.maxCel?.toString() || 'N/A' }}</span>
        </div>
      </div>
    </div>
  </body>
  